Repository theoLassauniere/GreenWaiterApp, pull requests merged in 2025-09, with the labels that each got.

#35 Add of the table component
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/table/table.css
  frontend/src/components/table/table.tsx
  frontend/src/models/CommandState.ts
  frontend/src/models/PreparationPlace.ts
Labels: enhancement, components, tables

#38 25 add of the fooditem component
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/coca-33cl.jpg
  frontend/src/components/common/IconButton/IconButton.css
  frontend/src/components/common/IconButton/IconButton.tsx
  frontend/src/components/common/Popup/Popup.css
  frontend/src/components/common/Popup/Popup.tsx
  frontend/src/components/menu/AllergenPopup/AllergenPopup.css
  frontend/src/components/menu/AllergenPopup/AllergenPopup.tsx
  frontend/src/components/menu/MenuItem/MenuItem.css
  frontend/src/components/menu/MenuItem/MenuItem.tsx
  frontend/src/index.css
  frontend/src/model/Item.ts
Labels: enhancement, components, menu items, allergenes

#40 :sparkles: Add of the food category component
  frontend/src/App.scss
  frontend/src/App.tsx
  frontend/src/components/food-category/food-category.css
  frontend/src/components/food-category/food-category.tsx
  frontend/src/mocks/food-categories.ts
  frontend/src/mocks/menu-items.ts
  frontend/src/models/Item.ts
Labels: enhancement, components, menu items
